body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    background-color:gray;
    color: white;
    padding: 6px;
    width: 100%;
    justify-content: space-between;
}

/* .logo-H{
  align-items: flex-start;
}
.menu{
  align-items: flex-end;
} */

.navigation a {
    margin-right: 20px;
    text-decoration: none;
    color: white; 
    font-weight: bold;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:gray;
  color: #fff;
  padding: 20px;
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upper-left {
  margin-bottom: 10px;
}

.right-section {
  margin-left: auto;
}

#logo-F {
  max-width: 100%;
}
/* ************* about page **************************** */
.main-about {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative; 
    color: black;
    background-color: #e6e6e6;
}


.social-icons {
    list-style: none;
    padding: 0;
    position: absolute;
    left: 10px; 
    bottom: 10px; 
    display: flex;
    flex-direction: column;
}

.social-icons li {
    margin-bottom: 10px; 
}

.fa {
    color: black;
}

.paragraph {
    padding: 10px;
}

.picture,.picture2,.field {
    height: 300px;
    width: 300px;
    margin-top: 2%;
}


/* ************ contact page******************************* */


.main-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
  }
  
  
  .major {
    margin: 60px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color:#f4f4f4;
    
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit input {
    background-color: gray;
    color: #fff;
    cursor: pointer;
  }
.contact-me{
    padding: 20px;
}
.main-section {
    position: relative;
}


.fa {
    color: black;
}

/* **************** hobby page *********************** */

.main-hobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: black;
    background-color: #e6e6e6;
}

.myhobby {
    padding: 10px;
}

.playing {
    margin-top: 20px;
    width: 300px;
    height: 300px;
}




/* ******************** home page ******************* */

.main-home{
    flex: 1;
    display: flex;
    flex-direction: column;
    color: black; 
    background-color: #e6e6e6;
    align-items: center;
    padding: 20px;
    
}
.first.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.download{
    text-align: center;
    padding: 10px;
    background-color: gray;
    width: 100px;
    height: 10px;
    color: white;

}
.download :hover{
    text-decoration: underline;
  }
.image img {
    width: 40%; 
    margin-top: 2%;
    margin-left: 5%;
}
.front {
  text-align: center;
}
blockquote {
  text-align: center;
  margin-top: 20px;
}
.fa {
    color: black;
}



/* ******************* project page ********************** */


.main-project {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    position: relative; 
    color: black;
    background-color: #e6e6e6;
}

.rental,
.insurance,
.pharmacy {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
}


/* *************** skills page ****************************** */


.main-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: black;
  background-color: #e6e6e6;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #f4f4f4;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
  
.footnote {
    margin-top: 20px;
    text-align: center;
  }
  
 
  
.navigation {
        flex-direction: column;
        align-items: center;
    }
  
.navigation a {
        margin-right: 0;
        margin-bottom: 10px;
    }

.head{
    display: flex;
}

/* *************** tour page ************************ */


.tours{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f4f4f4;
}

.row{
    display: flex;
    flex-wrap: nowrap;

}
.lalibela{
    flex: 1; 
    padding: 10px; 
    margin: 5px; 
    width: 300px;
    height: 300px;
}
.single-column {
    flex: 2; 
    padding: 10px;
    margin: 5px;
  }

  


